<div class="review">

	Rating: {{ review.rating }}
	<strong>{{ review.title }}</strong>
	by {{ review.user.username }}
	<br />
	{{ review.content }}
	<br /><br />
	<hr />
</div>
<div class='movie_choice'>
    xxxxxxxxxxxxxxxxxxx
    <div id="r1" class="rate_widget">
        <div class="star_1 ratings_stars"></div>
        <div class="star_2 ratings_stars"></div>
        <div class="star_3 ratings_stars"></div>
        <div class="star_4 ratings_stars"></div>
        <div class="star_5 ratings_stars"></div>
        <div class="total_votes">vote data</div>
    </div>
</div>